<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599030350718-rt5diuiggpna5fmco6k05teqm2km0f66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599030350718-rt5diuiggpna5fmco6k05teqm2km0f66</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>599030350718-9mv5oeembdgpfappbvv29bk0b35eilb4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9wBMEJ1WDl8WkUoxHqIVqPLvwClaTYxs</string>
	<key>GCM_SENDER_ID</key>
	<string>599030350718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-demo-ec48c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-demo-ec48c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599030350718:ios:d4aadf3cf97a599eb6292f</string>
</dict>
</plist>